<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IToolKit</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <BitSearchBox Placeholder="Search tools" IsUnderlined="true" OnChange="onChange" OnClear="onClearSearch"></BitSearchBox>
    <BitNavList TextFieldSelector="x=>x.Text"
                UrlFieldSelector="x=>x.Url"
                IsEnabledFieldSelector="x=>x.IsEnabled"
                ItemsFieldSelector="x=>x.Links"
                Mode="BitNavMode.Manual"
                OnItemClick="(IToolKitMenu x)=> ToggleNavMenu()"
                Items="AllNavLinks.Where(x =>
           x.Text.ToLower().Contains(searchedText.ToLower()) ||
           x.Links.Any(l => l.Text.ToLower().Contains(searchedText.ToLower()))).ToList()">
    </BitNavList>
</div>