@page "/"

<h1>Welcome To IToolKit.</h1>
<BitLabel>Click on the menu to start.</BitLabel>
<BitLabel>The tools include the following :</BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.ChangeEntitlements" /> Encode/Decode</h2>
<BitLink Href="EncodersDecoders/Base64"><BitLabel>Base64<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<BitLink Href="EncodersDecoders/Base32"><BitLabel>Base32<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<BitLink Href="EncodersDecoders/URL"><BitLabel>URL<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<BitLink Href="EncodersDecoders/HTML"><BitLabel>HTML<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<hr />
<h2><BitIcon IconName="BitIconName.Generate" /> Generators</h2>
<BitLink Href="Generators/Hash"><BitLabel>Hash (MD5, SHA1, SHA256, SHA512)<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<BitLink Href="Generators/UUID"><BitLabel>UUID 1 and 4<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<hr />
<h2><BitIcon IconName="BitIconName.Permissions" /> Ciphers</h2>
<BitLink Href="Ciphers/AES"><BitLabel>AES<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<hr />
<h2><BitIcon IconName="BitIconName.PictureStretch" /> Graphics</h2>
<BitLink Href="Graphics/ColorPicker"><BitLabel>Color Picker<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<hr />
<h2><BitIcon IconName="BitIconName.InsertTextBox" /> Text</h2>
<BitLink Href="Text/TextInspectorAndCaseConverter"><BitLabel>Inspector And CaseConverter<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLabel></BitLink>
<hr />
<h2>Repository</h2>
<BitLabel>
    The project repository to request a new feature or report a bug is <BitIcon IconName="BitIconName.GitGraph" />
    <BitLink Href="https://github.com/AkbarAsghari/IToolKit">Repository</BitLink>
</BitLabel>
