@page "/"

<h1>Welcome To IToolKit.</h1>
<BitLabel>Click on the menu to start.</BitLabel>
<BitLabel>The tools include the following :</BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.ChangeEntitlements" /> Encode/Decode</h2>
<BitLabel><BitLink Href="EncodersDecoders/Base64">Base64<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<BitLabel><BitLink Href="EncodersDecoders/Base32">Base32<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<BitLabel><BitLink Href="EncodersDecoders/URL">URL<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<BitLabel><BitLink Href="EncodersDecoders/HTML">HTML<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.Generate" /> Generators</h2>
<BitLabel><BitLink Href="Generators/Hash">Hash (MD5, SHA1, SHA256, SHA512)<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<BitLabel><BitLink Href="Generators/UUID">UUID 1 and 4<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.Permissions" /> Ciphers</h2>
<BitLabel><BitLink Href="Ciphers/AES">AES<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.PictureStretch" /> Graphics</h2>
<BitLabel><BitLink Href="Graphics/ColorPicker">Color Picker<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<hr />
<h2><BitIcon IconName="BitIconName.InsertTextBox" /> Text</h2>
<BitLabel><BitLink Href="Text/TextInspectorAndCaseConverter">Inspector And CaseConverter<BitIcon IconName="BitIconName.NavigateExternalInline" /></BitLink></BitLabel>
<hr />
<h2>IToolKit Repository</h2>
<BitLabel>
    The project repository to request a new feature or report a bug is <BitIcon IconName="BitIconName.GitGraph" />
    <BitLink Href="https://github.com/AkbarAsghari/IToolKit">Repository</BitLink>
</BitLabel>
