@inherits MudTextField<string>
@inject IJSRuntime JSRuntime

<div class="d-flex justify-end flex-grow-1 gap-2 mb-n1 mt-2">
    @if (ReadOnly)
    {
        <MudButton StartIcon="@Icons.Material.Filled.ContentCopy" IconSize="Size.Small" Size="Size.Small" Variant="Variant.Filled" DisableElevation OnClick="Copy">Copy</MudButton>
    }
</div>

@{
    base.BuildRenderTree(__builder);
}