.tool-provider-grid-item {
}

    .tool-provider-grid-item .card {
        padding: 1rem;
    }

    .tool-provider-grid-item .icon {
        width: 100%;
        height: 100%;
        font-weight: bolder
    }

/*Fonts*/

.font-monospace div .mud-typography-input {
    font-family: monospace;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
}
