@page "/EncodersDecoders/URL"

<h1>URL Encoder/Decoder</h1>
<BitDropDown Label="Encode/Decode" Items="GetEncodeDecodes()" DefaultValue="Encode" OnSelectItem="OnHashTypeChange" />
<BitTextField Label="Input" IsMultiline=true Placeholder="Type here ..." OnChange="OnChangeEvent" />
<BitCheckbox Style="margin-top:5px" @bind-Value="_IsAutoUpdate">Auto Update</BitCheckbox>
@if (_IsAutoUpdate == false)
{
    <BitButton Style="margin-top:5px" ButtonType="BitButtonType.Button" OnClick="()=> Calc(_CurrentValue)" ButtonStyle="BitButtonStyle.Primary">@_EncodeDecodeType</BitButton>
}
<BitTextField Label="Result" @bind-Value="@_Result" />
