@page "/Text/TextInspectorAndCaseConverter"

<h1>Text Case Converter and Inspector</h1>

<BitLabel>Convert</BitLabel>
<BitButton Style="margin-top:5px">Orginal Text</BitButton>
<BitButton Style="margin-top:5px">Sentence Case</BitButton>
<BitButton Style="margin-top:5px">lower Case</BitButton>
<BitButton Style="margin-top:5px">UPPER CASE</BitButton>
<BitButton Style="margin-top:5px">Title Case</BitButton>
<BitButton Style="margin-top:5px">camelCase</BitButton>
<BitButton Style="margin-top:5px">PascalCase</BitButton>
<BitButton Style="margin-top:5px">snake_case</BitButton>
<BitButton Style="margin-top:5px">CONSTANT_CASE</BitButton>
<BitButton Style="margin-top:5px">kebab-case</BitButton>
<BitButton Style="margin-top:5px">COBOL-CASE</BitButton>
<BitButton Style="margin-top:5px">Train-Case</BitButton>
<BitButton Style="margin-top:5px">aLtErNaTiNg cAsE</BitButton>
<BitButton Style="margin-top:5px">InVeRsE CaSe</BitButton>

<BitTextField Label="String" IsMultiline=true Rows="23" @bind-Value=@_Text />