.tool-provider-grid-item {
}

    .tool-provider-grid-item .card {
        width: 157px;
        height: 20rem;
    }

    .tool-provider-grid-item .icon {
        width: 100%;
        height: 100%;
        font-weight: bolder
    }

/*Update Detector*/
.floating-update-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem 1.5rem;
    animation: fadein 2s ease-out;
}

@keyframes fadein {
    from {
        right: -100%;
    }

    to {
        right: 2rem;
    }
}

/*Fonts*/

.font-monospace {
    font-family: monospace;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'opensans-medium';
    src: url('../fonts/opensans-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans-regular.ttf') format('truetype');
}
