@page "/Generators/UUID"

<h1>UUID</h1>

<BitNumericTextField Style="display:inline-block" Min="1" Step="1" ShowArrows="true" Label="Count" @bind-Value=@_Count />
<BitButton ButtonType="BitButtonType.Button" OnClick="GnerateUUID">Generate UUID(s)</BitButton>
<hr />
<BitToggle Label="- Hyphens" Style="white-space: nowrap;" IsInlineLabel=true @bind-Value=@_IsHyphens />
<BitToggle Label="Uppercase" IsInlineLabel=true @bind-Value=@_IsUpperCase />
<BitDropDown Items="Versions" Label="Version" DefaultValue="@DefaultVersion" @bind-Value=_UuidVersion />
<hr />
<BitTextField IsMultiline=true Label="Result" Rows="23" @bind-Value=@_Result />
